* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-weight: 700;
}

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #67ba24;
  text-decoration: none;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.containerHomeMessage {
  background-color: #f0f0f0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  margin: 2.3rem 0 0 0;
}

.heading {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #21293c;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid #d8e1ec;
  margin-bottom: 15px;
}

.heading_container select {
  background-color: transparent;
  border: none;
  outline: none;
  width: max-content;
  color: #4b587c;
}

.heading_container select option {
  padding: 1rem;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: max-content;
  color: #888888;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.8rem;
  padding-right: 58.5%;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 18px;
  box-sizing: border-box;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #000000;
}

.subtitle {
  padding: 0;
  margin: 0;
  color: #000000;
}

.product_list {
  margin: 0;
}

.formTitle {
  margin-top: 2rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .heading_container {
    display: flex;
    padding-bottom: 1.5rem;
  }
  .heading_container select {
    margin-right: 1rem;
  }
  .containerHomeMessage {
    margin: 2.3rem 1.5rem 0.6rem;
  }
  .select {
    padding-right: 30.6%;
  }
}
